<section>
    <div class="container">
        <div class="row mt-4">
            <div class="d-flex "><a href="/admin/add-products" class="btn btn-success ms-auto">Add Product</a></div>
        </div>
        <table class="table mt-4">
           <thead>
             <tr>
               <th scope="col">No</th>
               <th scope="col">Name</th>
               <th scope="col">category</th>
               <th scope="col">Description</th>
               <th scope="col">image</th>
             </tr>
           </thead>
           <tbody>
            {{#each products}}
             <tr>
               <th scope="row">1</th>
               <td>{{this.name}}</td>
               <td>{{this.category}}</td>
               <td>{{this.description}}</td>
               <td><img src="/product-images/{{this._id}}.jpg" alt="..img" width="50px" height="50px"></td>
             </tr>
             {{/each}}
           </tbody>
        </table>
    </div>
</section>