<section>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="container mt-5 pl-5">
                <h2 class="text-center">Login</h2>
                <form action="/login" method="POST">
                   <div class="mb-3">
                     <label for="email" class="form-label">Email address</label>
                     <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                     <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                   </div>
                   <div class="mb-3">
                     <label for="password" class="form-label">Password</label>
                     <input type="password" class="form-control" id="password" name="password" required>
                   </div>
                   <div class="mb-3">
                     <div><a href="/signup">Create new account ?</a></div>
                   </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                 </form>
            </div>
        </div>
    </div>
</section>