<section>
    <div class="container col-md-12">  
         <div class="border border-success border-3" style="margin-top:15rem">
            <div class="mt-4 mb-4">
              <h1 class="text-center">Thank you. </h1><br>
              <p class="text-center fs-2">Your order has been received.</p>
              <div class="text-center"><a href="/orders" class="btn btn-success fs-4 fw-bold w-auto">View Order</a></div>
            </div>
         </div> 
    </div>
</section>
